# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/workspace.xml
app/.DS_Store
app/build/.DS_Store
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/androidTest/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/bundles/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/res/
app/build/intermediates/manifest/tmp/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/outputs/.DS_Store
app/build/outputs/apk/.DS_Store
app/build/tmp/compileDebugJavaWithJavac/
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/assets/.DS_Store
app/src/main/java/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/java/com/baidu/.DS_Store
app/src/main/java/com/baidu/android/.DS_Store
app/src/main/java/com/baidu/android/voicedemo/.DS_Store
app/src/main/jniLibs/.DS_Store
